@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,300&display=swap");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(60deg, #4f80b8, #485563);
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  color: #000;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section-title span {
  color: crimson;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

#header .header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .header .nav-bar .brand a {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

#header .header .nav-bar .brand a span {
  color: crimson;
}

#header .header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: left .5s ease;
  transition: left .5s ease;
}

#header .header .nav-list ul.active {
  left: 0%;
}

#header .header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .header .nav-list ul a:after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 12rem;
  letter-spacing: 50px;
  z-index: -1;
  -webkit-transition: letter-spacing .3s ease;
  transition: letter-spacing .3s ease;
}

#header .header .nav-list ul li:hover a::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .header .nav-list ul li:hover a {
  color: crimson;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 10px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-animation: hamburger_puls 1.5s ease infinite;
          animation: hamburger_puls 1.5s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: #fff;
  z-index: -1;
}

#header .hamburger .bar::after, #header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

#hero {
  background-image: url(../img/hero-bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .7;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  -webkit-animation: text_reveal .5s ease forwards;
          animation: text_reveal .5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#hero h1:nth-child(3) {
  -webkit-animation: text_reveal_name .5s ease forwards;
          animation: text_reveal_name .5s ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  font-weight: 500;
}

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#hero h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#hero .cta {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#hero .cta:hover {
  color: #fff;
  background-color: crimson;
}

#services .services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .services .service-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px;
}

#services .service-item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(../img/img-1.png);
  background-size: cover;
  margin: 10px 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#services .service-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .9;
  z-index: -1;
}

#services .service-item .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#services .service-item h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  color: #fff;
  text-align: left;
}

#services .service-top {
  max-width: 500px;
  margin: 0 auto;
}

#services .service-top p {
  color: #000;
  font-weight: 500;
}

#projects .projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#projects .project-info {
  padding: 30px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #fff;
}

#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .project-info p {
  color: #fff;
}

#projects .project-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .project-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
}

#projects .project-img img {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

#projects .project-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#about .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid #fff;
}

#about .col-left .about-img:after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
  color: #000;
  font-weight: 500;
}

#about .col-right a {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: crimson;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-right a:hover {
  color: #fff;
  background-color: crimson;
}

#contact .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

#contact .contact-items {
  width: 100%;
}

#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 18px 0 #0000002c;
          box-shadow: 0 0 18px 0 #0000002c;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

#contact .contact-item:hover {
  -webkit-box-shadow: 0 0 5px 0 #0000002c;
          box-shadow: 0 0 5px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .footer .brand h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

#footer .footer .brand h1 span {
  color: crimson;
}

#footer .footer h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer .footer .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#footer .footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .footer .social-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
}

#footer .footer .social-item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#footer p {
  color: #fff;
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }
  #hero h1 {
    font-size: 7rem;
  }
  #services .service-bottom .service-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 2.5%;
  }
  #projects p {
    color: #111;
    font-weight: 500;
  }
  #projects .project-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  #about .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }
  #about .col-right p {
    color: #000;
    font-weight: 500;
  }
  #contact .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact .contact-item .icon {
    width: 100px;
    height: 100px;
  }
  #contact .contact-item .icon img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  #header .header .hamburger {
    display: none;
  }
  #header .header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .header .nav-list ul li {
    display: inline-block;
  }
  #header .header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .header .nav-list ul a:after {
    display: none;
  }
  #services .service-bottom .service-item {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    margin: 1.5%;
  }
}

@-webkit-keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: #fff;
  }
}

@keyframes text_reveal {
  100% {
    color: #fff;
  }
}

@-webkit-keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}